<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{{title}} | Task Board</title>
        <link rel="stylesheet" href="/static/mvp.css">
        <link rel="shortcut icon" href="/static/favicon.ico"/>
    </head>
    <body>
        <header>
            <h1>{{title}}</h1>
        </header>
        <table>
        {%- for label in report.labels %}
            <th>{{label}}</th>
        {%- endfor %}
        {%- for task in report.tasks %}
            <tr>
            {%- for attribute in task %}
                <td class="{{report.column_types[loop.index0] | column_class}}">{{attribute}}</td>
            {%- endfor %}
            </tr>
        {%- endfor %}
        </table>
        <footer>

        </footer>
        <!--<script src="https://dohliam.github.io/dropin-minimal-css/switcher.js" type="text/javascript"></script>-->
    </body>
</html>
